.custom {
    margin: 1.5rem 1rem;
}

.custom__form--inline {
    display: flex;
    width: 100%;
}

.custom__form--inline > * {
    padding-right: .5rem;
}

.custom__form--inline > *:last-child {
    padding-right: 0;
}

@media only screen and (min-width: 768px) {
    .custom {
        width: 500px;
        height: 100%;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .custom__form {
        width: 500px;
    }
}