.game-won {
    height: 100%;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-won--statement {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-top: .5rem;
}

.game-won__options {
    text-align: center;
    width: 100%;
}

.game-won__stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 100%;
}

.game-won__stats__item {
    display: block;
    text-align: center;
}

.game-won__stats__item--icon {
    text-align: center;
    font-size: 1rem;
}
.game-won__stats__item--icon img {
    width: 50px;
}

.game-won__options__item {
    margin-bottom: 1rem;
}

.game-won__options__item:first-child {
    color: #000;
    background-color: #fff;
    border: 1px solid #333;
}

.game-won__options__item:last-child {
    color: #FFF;
    background-color: #000;
    border: 1px solid #333;
}

@media only screen and (min-width: 768px) {
    .game-won {
        width: 500px;
        height: 100%;
        margin: auto;
    }
}