.menu {
    margin: 0px 16px;
}

/**
 * Shared
 */
.menu--title {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
}

/**
 * New Menu (for all the new options)
 */
.menu__new {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.menu__new__item {
    width: calc(50% - .5rem);
    margin-bottom: 1rem;
    text-align: center;
}

.menu__new__item img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu__new__item > :last-child {
    margin-bottom: 2rem;
}

.menu__new__item:nth-child(odd) {
    margin-right: 1rem;
}

/**
 * Continue Menu (for all the continue options)
 */
.menu__continue {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.menu__continue__item {
    margin-bottom: 1rem;
    width: 100%;
}

.menu__continue__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1rem;
}
