.menu {

}

/**
 * New Menu (for all the new options)
 */
.menu__new {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.menu__new__item {
    width: calc(50% - .5rem);
    margin-bottom: 1rem;
}

.menu__new__item:nth-child(odd) {
    margin-right: 1rem;
}

/**
 * Continue Menu (for all the continue options)
 */
.menu__continue {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.menu__continue__item {
    margin-bottom: 1rem;
}

