.home {
    height: 100%;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .home {
        margin: auto;
        max-width: 600px;
    }
}

.home__header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.home__header--center {
    text-align: center;
    margin: 0;
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
}

.home__list {
    flex: 1;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.home__list__item {
    font-size: 2rem;
    margin: .5rem 0;
    text-transform: uppercase;
    background-color: #333;
    border: 1px solid #FFF;
    border-radius: 16px;
    transition: .25s color, .25s background-color ease-in;
}

.home__list__item:hover {
    background-color: #FFF;
    color: #333;
}

.home__list__item > a, .home__list__item > span {
    display: block;
    width: 100%;
    color: inherit;
    cursor: pointer;
}