.box {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: rgb(255,255,255);
/*     
    background: linear-gradient(135deg,
        hsl(182, 51.3%, 46.7%) 0%,
        hsl(238, 96%, 62.9%) 100%); */

    border-radius: 5px;
    color: #000000;
}

@media only screen and (min-width: 768px) {
    .box {
        transition: .25s transform ease-in-out;
    }

    .box:hover {
        transform: translateY(-2px);
    }
}