.footer {
    grid-area: footer;
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer--game {
    width: 100vw;
    box-sizing: border-box;
    /* position: fixed; */
    background-color: #333;
    bottom: 0;
}

.footer__text {
    display: flex;
}

.footer__text > span {
    padding: 0px 1rem;
}

