.header {
    grid-area: header;
    border-bottom: 1px solid #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
}

.header--game {
    width: 100vw;
    box-sizing: border-box;
}

.header--hidden {
    height: 0;
    grid-area: header;
    opacity: 0;
}

.header__link {
    height: 24px;
}

.header__detail {
    display: flex;
    align-items: center;
}

.header__detail > *:first-child {
    margin-right: 4px;
}

.header > h3 {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .header--game {
        width: 100%;
    }
}