@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/fonts/RobotoMono-Regular.eot');
    src: url('assets/fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('assets/fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/fonts/RobotoMono-Bold.eot');
    src: url('assets/fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('assets/fonts/RobotoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/fonts/RobotoMono-Italic.eot');
    src: url('assets/fonts/RobotoMono-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/RobotoMono-Italic.woff2') format('woff2'),
        url('assets/fonts/RobotoMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
}

* {
    /* font-family: "Arial Black", Gadget, sans-serif; */
    /* font-family: 'B612 Mono', monospace; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-style: normal;

    color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    /* height: 0; */
    padding: 0;
    list-style-type: none;
}

#root {
    /* margin: 0px 16px; */
    height: 100%;
    position: relative;
    display: grid;
    grid-gap: 0px;
    /* The 60px-auto-60px is used for keeping the page in its own element */
    /* grid-template-rows: 60px 1fr 60px; */
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "content"
        "footer"
}

.page {
    grid-area: content;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.divider {
    border: 1px solid #FFF;
    width: 100%;
    margin: 1rem 0px;
}

@media only screen and (min-width: 768px) {
    #root {
        margin: 0px 3.5rem;
    }

    .page {
        overflow-y: auto;
    }
}

.center {
    text-align: center;
}
